#collectionPage{
    padding-top: 2%;
}

#qrElement, #pixElement{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
    padding: 10px;
    background-color: #214001;
    border-radius: 5px 20px 20px 20px;
}

#imgQrcode{
    width: 25%;
    height: 15%;
    border: 10px solid #F2C9BB;
    border-radius: 5px 20px 20px 20px;
}

#cardImag{
    width: 20%;
    height: auto;
    border: 10px solid #F2C9BB;
    border-radius: 10px 50px 50px 50px;
}

#qrElement{
    margin-bottom: 3%;
}

#pixCopyArea{
    width: 80%;
    height: 30px;
    border-radius: 5px 10px 10px 10px;
}


#btn-return, #btn-copy{
    width: 10%;
    margin-left: 2%;
    background: #F2C9BB;
    border: 1px solid;
    border-color: #F2C9BB;
    border-radius: 5px 20px 20px 20px;
    padding: 10px;
    font-size: 20px;
    font-family: "Lora", serif;
    font-style: normal;
}

#btn-return:hover, #btn-copy:hover{
    cursor: pointer;
    border-color: #BDF24B;
    background-color: #BDF24B;
}

@media  (max-width:768px) {

    #qrElement{
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    #cardImag{
        display: none;
    }

    #imgQrcode{
        width: 35%;
    }

    #pixCopyArea{
        width: 60%;
    }
    
    #btn-return, #btn-copy{
        width: 30%;
        
    }
}